*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #efefef;
}



h1 {
  font-family: $main-font;
  color: $white;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-family: $main-font;
  color: $title-color;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  background-color: $yellow;
}

.subtitle {
  font-family: $main-font;
  color: $title-color;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}



@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
    line-height: 45px;
    font-weight: 800;
  }
}

@media (min-width: 1200px) {

  h1 {
    font-size: 43px;
  }

  .tab {
    font-size: 21px;
  }

  .subtitle {
    font-size: 23px;
  }
}