$main-font:  'Acrom', Arial, sans-serif;

$title-color: rgb(0, 0, 0);
$text-color: rgb(107, 111, 122);

$white: rgb(255, 255, 255);
$orange: rgb(255, 108, 10);
$violet: rgb(86, 42, 135);
$yellow: rgb(253, 195, 63);
$light-red: #FF3C35;
$light-green: #34A93F;
